$sub-color: #efefef;
@import 'assets/scss/mixin.scss';

.dish {
	margin: 0 35px 30px 0;
	width: 20vw;
	border-radius: 13px;
	display: flex;
	flex-direction: column;
	@include responsive(tablet) {
		margin: 0 43px 30px 0;
		width: 24vw;
	}
	&__discount {
		position: absolute;
		background-color:#F3BA00;
		padding: 5px;
		border-radius: 8px 0 0 0;
		font-family: 'ABeeZee';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: -0.012em;
	}
	&__img {
		height: 40vh;
		border-radius: 13px 13px 0 0;
		@include responsive(tablet) {
			height: 20vh;
		}
		& img {
			border-radius: 13px 13px 0 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__details {
		border-radius: 0 0 13px 13px;
		background-color: white;
		padding: 10px 15px;
		font-family: 'ABeeZee';
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: -0.012em;
		color: #1B1C21;
		&-top {
			display: flex;
			justify-content: space-between;
			padding: 10px 0;
			font-size: 20px;
			@include responsive(tablet) {
				font-size: 14px;
			}
		}
		&-bottom {
			display: flex;
			justify-content: space-between;
			padding: 10px 0;
			font-size: 16px;
			@include responsive(tablet) {
				padding: 0;
				height: 3.5vh;
			}
			&-rating {
				display: flex;
				align-items: center;
				@include responsive(tablet) {
					width: 50%;
					font-size: 10px;
				}
				&-start {
					background-color: #F7F8FA;
					padding: 10px;
					border-radius: 15px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 20px;
					@include responsive(tablet) {
						padding: 5px;
						border-radius: 10px;
						margin-right: 10%;
					}
				}
				&-time {
					background-color: #F7F8FA;
					padding: 10px;
					border-radius: 15px;
					display: flex;
					justify-content: center;
					align-items: center;
					@include responsive(tablet) {
						border-radius: 10px;
						padding: 5px;
					}
				}
			}
			&-add {
				background-color: #F3BA00;
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 35px;
				padding-left: 2px;
				border-radius: 10px;
				cursor: pointer;
				&:hover {
					opacity: 0.8;
				}
				@include responsive(tablet) {
					font-size: 20px;
					padding: 0 5px;
				}
			}
		}
	}
}
